

 <form class="" action="/landmarks/new" method="post">

  <p>
    <label for="">Landmark Name:</label>
    <input type="text"  id="landmark_name" name="landmark[name]" value="">
  </p>

  <p>
    <label for="">Landmark Year Completed:</label>
    <input type="text" id="landmark_year_completed" name="landmark[year_completed]" value="">
  </p>

    <input type="submit" name="Create New Landmark" value="Create New Landmark">
 </form>
