

<form class="" action="/figures/new" method="post">

<ul>
  <li> <label for="">Figure's Name</label> </li>
       <input type="text" name="figure[name]" value="">

  <li> <label for="">Figure's Title</label> </li>
       <input type="text" name="figure[title_ids[]" value="">

  <li> <label for="">Figure's Name</label> </li>
        <input type="text" name="figure[landmark_ids][]" value="">
</ul>

<ul>
  <li> <label for="">Landmark</label> </li>
       <input type="text" name="landmark[name]" value="">
</ul>

<ul>
  <li> <label for="">Title</label> </li>
       <input type="text" name="title[name]" value="">
</ul>

<input type="submit" name="create" value="create">
</form>
